{% extends 'AppBundle:public:base.html.twig' %}

{% block body %}
	<div id="wrapper">
		<div id="container">
			<div id="welcome">
				<a href="{{ url('login') }}">Login</a>
			</div>
		</div>
	</div>

{% endblock %}

{% block stylesheets %}
	<style>
		body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
	</style>
{% endblock %}
